doctype html
html
  head
    title= title
  body
    h1 Add a Plant
    form(action="/update-cobj", method="POST")
      label(for="name") Name:
      input(type="text", name="name", required)
      br
      label(for="genus") Genus:
      input(type="text", name="genus")
      br
      label(for="species") Species:
      input(type="text", name="species")
      br
      label Light Requirements:
      br
      input(type="checkbox", name="light_requirement_s_", value="Full Sun")
      | Full Sun
      br
      input(type="checkbox", name="light_requirement_s_", value="Partial Shade")
      | Partial Shade
      br
      input(type="checkbox", name="light_requirement_s_", value="Low Light")
      | Low Light
      br
      label Water Requirements:
      br
      input(type="radio", name="water_requirements", value="Frequent")
      | Frequent
      br
      input(type="radio", name="water_requirements", value="Moderate")
      | Moderate
      br
      input(type="radio", name="water_requirements", value="Infrequent")
      | Infrequent
      br
      button(type="submit") Submit
    br
    a(href="/") Return to the homepage